* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: helvetica, sans-serif;
}

.studentNumber {
  transform: translateY(3em);
  font-size: 1.3em;
}

:root {
  --background-color: #2A2463;
  --secondary-color: #4E2C98;
  --heading-color: rgba(255, 255, 255, .9);
  --desaturated-color: rgba(255, 255, 255, 0.6);
  --expelled-color: rgb(179, 64, 64);
}

body {
  background: var(--background-color);
  color: var(--heading-color);
  padding: 2.5em;
}

/* hero section starts here */
.hero {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.hero img {
  max-height: 90%;
}

.hero .heroHeading {
  font-size: 3.5em;
}

.hero .content {
  margin-top: 10em;
  max-width: 70ch;
  align-self: flex-start;

}

.hero .heroDesc {
  font-size: 22px;
  line-height: 150%;
  color: var(--desaturated-color);
  margin: 1.3em 0;

}


.hero .heroBtn {
  align-self: start;
  padding: 10px 40px;
}

.button {
  background: var(--secondary-color);
  color: var(--heading-color);
  border-radius: 5px;
  border: none;
  font-size: .9em;
}

.button.expell {
  background: var(--expelled-color);

}


.hero .arrowDown {
  position: absolute;
  top: 60%;
  right: 50%;
  transform: translate(-50%, 50%);
  font-size: 3em;
  animation: jump 1s infinite alternate;
  margin-top: 3em;
}

@keyframes jump {
  to {
    transform: translateY(30px);

  }

  from {
    transform: translateY(0px);

  }
}

/* hero section ends here */


/** filter section ends here */
.filterSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

select,
button {
  cursor: pointer;
}

.filterCommon {
  display: flex;
  justify-content: space-around;
  background: var(--secondary-color);
  align-items: center;
  width: 25%;
  padding: 1em
}

.filterCommon button {
  font-size: 1em;
  background: transparent;
  color: var(--desaturated-color);
  border: 0;
}

.filterCommon .sortBtn {
  background: var(--background-color);
  padding: 10px 25px;
}

.filterCommon .sortBtn:active {
  transform: scale(.8);
}

.filterCommon button:hover {
  color: var(--heading-color);
}

#sortSelect,
#selectFilterBar {
  width: 50%;
}

/** filter section starts here */



/*card section starts ends here */

.cardWrapper {
  background-color: var(--secondary-color);
  position: relative;
  margin-top: 7em;
  width: 500px;
  height: 250px;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 10px 10px 15px rgb(0, 0, 0, 0.3);
}

.Cardcontent {
  /* transform: translateX(-3em); */
}

[data-field='expelledField'] {
  position: absolute;
  top: 5%;
  right: 5%;
}

[data-field="name"] {
  font-size: 1.8em;
  font-weight: lighter;

}

[data-field="house"] {
  margin: .5em 0 1.7em 0;
  color: var(--desaturated-color);
}

.cardWrapper [data-field='img'] {
  border-radius: 50%;
  height: 70%;
  /* filter: drop-shadow(10px 10px 10px rgb(0, 0, 0, 0.2)); */
  border: 15px solid var(--background-color);
}

.cardBtn {
  background-color: var(--background-color);
  padding: 8px 20px;
}

#main {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  margin: 0 auto;
}

/* card section ends here */

/* if (student.house === 'Slytherin') {
  houseCrest.setAttribute('style', ' background: url(./harryp/crests.png); background-size: contain; ');
} */


/** modal section starts here */
.house-crest {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 5%;
  left: 5%;

}

.modal-content [data-field='img'] {
  border-radius: 50%;
  height: 30%;
  border: 10px solid black;
  object-fit: cover;

}

.modalRightSide {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1;

}

.modal-content {
  width: 70%;
  height: 75%;
  margin: 5em auto;
  background: var(--background-color);
  color: var(--heading-color);
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgb(0, 0, 0, 0.5);
}

#modal .student-firstName,
#modal .student-middleName,
#modal .student-lastName {
  font-size: 2em;
  font-weight: lighter;
}

#modal .student-house,
#modal .student-gender {
  font-size: 1.5em;
  font-weight: lighter;
}

.close-btn {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.close-btn:hover {
  color: rgba(0, 0, 0, 0.9)
}

/* modal section ends here *************/

/** themes start here *************/

[data-theme='Gryffindor'] {
  --heading-color: #db9358;
  --background-color: #9e1818;
}

[data-theme='Hufflepuff'] {
  --heading-color: #fdfdfd;
  --background-color: #d6ab11;
}

[data-theme='Ravenclaw'] {
  --heading-color: #05a4cb;
  --background-color: #c21742
}

[data-theme='Slytherin'] {
  --heading-color: #a6a6a6;
  --background-color: #1d811d;
}

/** themes end here *************/


@keyframes falling {
  0% {
    opacity: .9;
    transform:  translateY(1em) scale(.9);
  }

  30% {
    opacity: .7;
    transform: translateY(2em) scale(.850);
  }

  60% {
    opacity: .4;
    transform:  translateY(3em) scale(.8);
  }

  100% {
    opacity: 0;
    transform:  translateY(4em) scale(.750);
  }
}

.fallDown {
  animation: falling .6s ease-in;
}